<ion-content>
  <div id="centered-content">
    <ion-text class="textColor">
      <div id="welcome">Welcome to</div>
      <div id="ezpark">EZPark</div>
    </ion-text>
    <ion-label class="text textColor">Username:</ion-label>
    <ion-input
      class="input textarea"
      pattern="[a-zA-Z0-9]*"
      required
    ></ion-input>
    <ion-label class="text textColor">Password:</ion-label>
    <ion-input
      class="input textarea"
      type="password"
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
      required
    ></ion-input>
    <ion-button [routerLink]="['/home']">LOGIN</ion-button>
    <br />
    <ion-checkbox class="text textColor" labelPlacement="end"
      >Remember me?</ion-checkbox
    >
  </div>
</ion-content>
