ion-content {
    --ion-background-color: #FBF3EF;
}

.textColor {
    color: black;
}

#centered-content {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#welcome {
    font-weight: bold;
    font-size: 20px;
}

#ezpark {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 100px;
}

.textarea {
    color: black;
    background-color: #E0E0E0;
    width: 250px;
    height: 20px;
    margin-bottom: 15px;
}

ion-button {
    --background: #8888E7;
    --color: white;
    margin-top: 25px;
    width: 250px;
}

.text {
    font-size: 12px;
}

.textColor {
    color: black;
}

ion-checkbox {
    --size: 18px;
    --checkbox-background-checked: #ddd4d4;
    --checkbox-background: #ddd4d4;
    --checkmark-color: #000000;
    margin-right: 125px;
}

ion-checkbox::part(container) {
    border-radius: 1px;
    --border-color-checked: #ddd4d4;
}

.subtitle {
    color: black;
    font-weight: bold;
}