<ion-content padding>
  <div class="header-container">
    <img
      (click)="goToHome()"
      src="../assets/backbutton.png"
      class="back-button"
    />
    <h1>Parking History</h1>
  </div>
  
  <div class="searchbar-container">
    <ion-searchbar
      placeholder="Search..."
      [(ngModel)]="searchTerm"
    ></ion-searchbar>
  </div>

  <div class="card-container">
    <!-- Default state: No history -->
    <ion-card *ngIf="parkingHistory.length === 0 && !searchTerm.trim()" class="no-history-card">
      <ion-card-header>
        <ion-card-title>No history</ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- Search state: No results found -->
    <ion-card *ngIf="filteredParkingHistory.length === 0 && searchTerm.trim()" class="no-history-card">
      <ion-card-header>
        <ion-card-title>No results found</ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- Display parking history -->
    <ion-card *ngFor="let parking of filteredParkingHistory">
      <div class="card-content">
        <div class="text-content">
          <ion-card-header>
            <ion-card-title>{{ parking.location }}</ion-card-title>
            <ion-card-subtitle>{{ parking.date }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>{{ parking.duration }}</p>
            <ion-button slot="start" (click)="viewReceipt(parking)">
              View Receipts
            </ion-button>
          </ion-card-content>
        </div>
        <ion-img src="{{ parking.imageUrl }}"></ion-img>
      </div>
    </ion-card>
  </div>
</ion-content>