<ion-content padding>
  <img
    (click)="goToHome()"
    src="../assets/backbutton.png"
    class="back-button" />
  <h1>Parking History</h1>
  <div class="searchbar-container">
    <ion-searchbar placeholder="Search..."></ion-searchbar>
  </div>

  <div class="card-container">
    <ion-card *ngFor="let parking of parkingHistory">
      <div class="card-content">
        <div class="text-content">
          <ion-card-header>
            <ion-card-title>{{ parking.date }}</ion-card-title>
            <ion-card-subtitle>{{ parking.location }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>{{ parking.duration }}</p>
            <ion-button
              slot="start"
              (click)="viewReceipt(parking)"
            >
              View Receipts
            </ion-button>
          </ion-card-content>
        </div>
        <ion-img src="{{ parking.imageUrl }}"></ion-img>
      </div>
    </ion-card>
  </div>
</ion-content>