/* Global Styles */
ion-content {
  --ion-background-color: #FBF3EF;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.searchbar-container {
  width: 100%;
  display: flex;
  justify-content: center; /* Center the search bar */
}

ion-searchbar {
  margin-bottom: 10px;
  color: black;
  --border-radius: 18px; /* Add border radius */
  width: 80%; /* Adjust width as needed */
  --background: #D9D9D9; /* Change background color */
}

.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the cards horizontally */
}

ion-card {
  margin-bottom: 15px;
  border-radius: 20px; /* Add border radius */
  background-color: #d9d9d9;
  width: 75%; /* Adjust width as needed */
  height: 400px; /* Adjust height as needed */
}

ion-img {
  width: 100%;
  height: 150px;
  object-fit: cover; /* Ensures image fills the container */
}

ion-card-header {
  padding: 10px;
  color: #8888E7;
}

ion-card-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

ion-card-subtitle {
  font-size: 14px;
  color: #888;
}

ion-card-content {
  padding: 10px;
}

ion-button {
  --padding: 8px 12px; /* Adjust button padding as needed */
  color: #8888E7;
}

h1 {
  color: #000;
  font-size: 24px;
  display: block;
  text-align: center;
  margin-top: -20px;
}

.back-button {
  width: 24px;
  height: 24px;
  margin-top: 20px;
}