<ion-content>
  <!-- Side Menu -->
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title id="toolbarcolor" class="center colorblack">EZPark</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list class="ion-padding colorblack white-menu list-item" [routerLink]="['/userprofile']">
        User Profile
      </ion-list>
      <ion-list class="ion-padding colorblack white-menu list-item" [routerLink]="['/parkingspots']">
        Parking Spots
      </ion-list>
      <ion-list class="ion-padding colorblack white-menu list-item" [routerLink]="['/history']">
        Parking History
      </ion-list>
      <ion-list class="ion-padding colorblack white-menu list-item" [routerLink]="['/aboutus']">
        About Us
      </ion-list>
      <ion-list class="ion-padding colorblack white-menu list-item" [routerLink]="['/feedback']">
        Feedback
      </ion-list>
      <ion-list id="fullwhite" class="white-menu"></ion-list>
    </ion-content>
  </ion-menu>

  <!-- Main Content -->
  <div class="ion-page" id="main-content">
    <ion-buttons slot="start">
      <ion-menu-button class="colorblack"></ion-menu-button>
    </ion-buttons>
    <ion-content class="ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12" size-md="8" offset-md="2">
            <!-- Add the logo image here -->
            <img src="../assets/HouseholdGarage.png" alt="Logo" class="logo-img" />
            <h2 class="welcome-text">Welcome!</h2>
            <h3 class="sub-welcome-text">Start by finding a parking spot</h3>
            <ion-button id="centerbtn" shape="round" [routerLink]="['/parkingspots']">Find Parking</ion-button>
            
            <!-- Accordion Section added below the parking button -->
            <ion-accordion-group class="accordion-group">
              <ion-accordion value="first">
                <ion-item slot="header" class="accordion-header">
                  <ion-label>The Mall</ion-label>
                </ion-item>
                <div class="ion-padding accordion-content" slot="content">First Content</div>
              </ion-accordion>
              <ion-accordion value="second">
                <ion-item slot="header" class="accordion-header">
                  <ion-label>Airport Mall</ion-label>
                </ion-item>
                <div class="ion-padding accordion-content" slot="content">Second Content</div>
              </ion-accordion>
              <ion-accordion value="third">
                <ion-item slot="header" class="accordion-header">
                  <ion-label>Times Square</ion-label>
                </ion-item>
                <div class="ion-padding accordion-content" slot="content">Third Content</div>
              </ion-accordion>
              <ion-accordion value="fourth">
                <ion-item slot="header" class="accordion-header">
                  <ion-label>Yayasan</ion-label>
                </ion-item>
                <div class="ion-padding accordion-content" slot="content">Fourth Content</div>
              </ion-accordion>
              <ion-accordion value="fifth">
                <ion-item slot="header" class="accordion-header">
                  <ion-label>Mabohai</ion-label>
                </ion-item>
                <div class="ion-padding accordion-content" slot="content">Fifth Content</div>
              </ion-accordion>
              <ion-accordion value="sixth">
                <ion-item slot="header" class="accordion-header">
                  <ion-label>Aman Hills</ion-label>
                </ion-item>
                <div class="ion-padding accordion-content" slot="content">Sixth Content</div>
              </ion-accordion>
            </ion-accordion-group>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>