<ion-content>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title id="toolbarcolor" class="center colorblack">EZPark</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list class="ion-padding colorblack white-menu list-item" [routerLink]="['/userprofile']">
        User Profile
      </ion-list>
      <ion-list class="ion-padding colorblack white-menu list-item" [routerLink]="['/parkingspots']">
        Parking Spots
      </ion-list>
      <ion-list class="ion-padding colorblack white-menu list-item" [routerLink]="['/history']">
        Parking History
      </ion-list>
      <ion-list class="ion-padding colorblack white-menu list-item" [routerLink]="['/aboutus']">
        About Us
      </ion-list>
      <ion-list class="ion-padding colorblack white-menu list-item" [routerLink]="['/feedback']">
        Feedback
      </ion-list>
      <ion-list id="fullwhite" class="white-menu"></ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-buttons slot="start">
      <ion-menu-button class="colorblack"></ion-menu-button>
    </ion-buttons>
    <ion-content class="ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12" size-md="8" offset-md="2">
            <h2 class="welcome-text">Welcome!</h2>
            <h3 class="sub-welcome-text">Start by finding a parking spot</h3>
            <ion-button id="centerbtn" shape="round" [routerLink]="['/parkingspots']">Find Parking</ion-button>
          </ion-col>
        </ion-row>

        <!-- Favorite Parking -->
        <ion-row>
          <ion-col>
            <ion-text>
              <h1 class="colorblack txtpad">Favorite Parking</h1>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="flex-container">
            <ion-card class="cardsize2" *ngFor="let parking of favouriteParking$ | async">
              <div class="card-content">
                <div class="card-text">
                  <ion-card-header>
                    <ion-card-title class="colorblack">{{ parking.title }}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-button class="ratebtn" shape="round" [routerLink]="['/rate-hours']">$Rate/h</ion-button>
                    <br /><br />
                    <ion-button class="spacebtn" shape="round" [routerLink]="['/parkingspots']">{{ parking.freeSpace }} Free Space</ion-button>
                  </ion-card-content>
                </div>
                <img class="img" [alt]="parking.title" [src]="parking.imageUrl" />
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </div>
</ion-content>