<ion-content>
  <img
    (click)="goToHome()"
    id="back"
    src="../assets/backbutton.png"
    class="back-button"
  />
  <h1>Mabohai Shopping Complex</h1>

  <!-- Add the airport mall image here -->
  <img src="../assets/mabohai.jpg" alt="Mabohai" class="mabohai-image" />
  <!-- Box container -->
  <div class="box-container">
    <div class="colored-box"></div>
    <div class="colored-box"></div>
    <div class="colored-box"></div>
    <!-- Add more boxes as needed -->
  </div>
</ion-content>
