ion-content {
  --ion-background-color: #FBF3EF;
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

h1 {
  color: #000;
  font-size: 24px;
  display: block;
  text-align: center;
  margin-top: -20px;
}

.back-button {
  width: 24px;
  height: 24px;
  margin-top: 20px;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  gap: 15px; /* Space between cards */
  padding: 20px;
  width: 100%; /* Ensure the container takes up the full width */
  max-width: 500px; /* Adjust this value to limit the container width */
}

ion-card {
  --background: #E0E0E0; /* Set background color of the card */
  --border-radius: 10px;
  text-align: center;
}

ion-card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

ion-card-content {
  color: #000;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 0;
}

 .box-container {
    display: flex; /* Make box-container a flex container */
    flex-direction: column; /* Stack boxes vertically */
    align-items: center; /* Center boxes horizontally */
    width: 100%; /* Make sure it takes up full width */
    max-width: 600px; /* Limit the width of the box container */
    margin-top: 20px; /* Add margin to create space below the image */
  }
  
  .colored-box {
    width: 80%; /* Adjust this width to fit your design */
    height: 100px; /* Adjust the height as needed */
    margin-top: 10px; /* Add some space above the box */
    border-radius: 10px; /* Optional: rounded corners */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: add shadow */
    background-color: #8888E7; /* Default color */
  }
  
  /* Use nth-child to alternate colors */
  .colored-box:nth-child(odd) {
    background-color: #8888E7;
  }
  
  .colored-box:nth-child(even) {
    background-color: #E0E0E0;
  }
  