<ion-content class="ion-padding">
  <div class="avatar-container">
    <ion-avatar class="large-avatar">
      <img [src]="profileImage" (click)="fileInput.click()" />
    </ion-avatar>
    <input
      type="file"
      #fileInput
      (change)="onFileChange($event)"
      style="display: none"
    />
  </div>

  <div lines="full" class="separated-item">
    <div><ion-label>Name</ion-label></div>
    <ion-input
      [(ngModel)]="user.name"
      placeholder="Enter your name"
      required
    ></ion-input>
  </div>

  <div lines="full" class="separated-item">
    <div><ion-label>Email</ion-label></div>
    <ion-input
      [(ngModel)]="user.email"
      placeholder="Enter your email"
      type="email"
      required
    ></ion-input>
  </div>

  <!-- <div lines="full" class="separated-item">
    <div><ion-label>Phone</ion-label></div>
    <ion-input
      [(ngModel)]="user.phone"
      placeholder="Enter your phone number"
      type="tel"
      required
    ></ion-input>
  </div> -->

  <!-- <ion-item lines="full" class="separated-item">
    <ion-label position="floating">Name</ion-label>
    <ion-input
      [(ngModel)]="user.name"
      placeholder="Enter your name"
      required
    ></ion-input>
  </ion-item> -->

  <!-- <ion-item lines="full" class="separated-item">
    <ion-label position="floating">Email</ion-label>
    <ion-input
      [(ngModel)]="user.email"
      placeholder="Enter your email"
      type="email"
      required
    ></ion-input>
  </ion-item> -->

  <!-- <ion-item lines="full" class="separated-item">
    <ion-label position="floating">Phone</ion-label>
    <ion-input
      [(ngModel)]="user.phone"
      placeholder="Enter your phone number"
      type="tel"
      required
    ></ion-input>
  </ion-item> -->

  <ion-button
    expand="full"
    type="submit"
    class="save-button ion-margin-top"
    (click)="saveProfile()"
    >Save</ion-button
  >
</ion-content>
