/* Center the avatar container */
.avatar-container {
  display: flex;
  justify-content: center;
  margin-bottom:20px;
}

/* Style the large avatar */
.large-avatar {
  width: 160px; /* Size */
  height: 160px; /* Size */
  border-radius: 50%; /* Circular shape */
  overflow: hidden;
  border: 3px solid #272729; /* Slightly thicker border for better visibility */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}

/* Style the ion-item for separation */
.separated-item {
  margin-bottom: 30px; /* Increased space between items */
  display: flex; /* Flexbox for alignment */
  flex-direction: column; /* Stack label and input vertically */
  align-items: center; /* Center items */
}

/* Style the labels */
ion-label {
  font-weight: bold; /* Bold font */
  color: #333; /* Darker color for better readability */
  margin-bottom: 20px; /* Increased space below labels */
  margin-top:10px;
  text-align: center;
  font-size: 22px; /* Slightly larger font size */
}

/* Style the input fields */
ion-input {
  --padding-start: 12px;
  --padding-end: 12px;
  --background: transparent; /* Make background transparent */
  border: 2px solid #353535; /* Light border for inputs */
  border-radius: 4px;
  padding: 14px; /* Slightly increased padding */
  font-size: 18px; /* Adjusted font size */
  width: 100%; /* Full width */
  max-width: 400px; /* Limit maximum width */
}

/* Style the placeholder text */
ion-input::part(native) {
  color: #aaa; /* Light gray for placeholder text */
}

/* Prevent overlap of placeholder text */
ion-input::part(native)::placeholder {
  color: #aaa; /* Light gray for placeholder text */
}

/* Style the save button */
.save-button {
  --background: #8888E7; /* Primary color */
  --color: #fff; /* White text */
  border-radius: 4px;
  padding: 14px; /* Increased padding for comfort */
  font-weight: bold; /* Bold text */
  width: 100%; /* Full-width button */
  max-width: 400px; /* Limit maximum width */
  margin-top: 20px; /* Space above the button */
  transition: background 0.3s; /* Smooth transition for hover */
}

.save-button:hover {
  --background: #6b6be7; /* Darken on hover */
}

/* Style for ion-content */
ion-content {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  --background: linear-gradient(180deg, #8888D7, #D9D9D9, #FBF3EF);
  background: linear-gradient(180deg, #8888D7, #D9D9D9, #FBF3EF);
  background-size: 100% 300%; /* Larger size for smooth transition */
  animation: gradientMove 10s linear infinite; /* Adjust speed as needed */
}

/* Adjust input focus styles */
ion-input:focus {
  outline: none; /* Remove default outline on focus */
  border-color: #3880ff; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(56, 128, 255, 0.5); /* Subtle shadow */
}
