<ion-header>
  <ion-toolbar>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-avatar slot="start">
      <img [src]="profileImage" (click)="fileInput.click()" />
    </ion-avatar>
    <input
      type="file"
      #fileInput
      (change)="onFileChange($event)"
      style="display: none"
    />
    <ion-label>
      <ion-input [(ngModel)]="user.name" placeholder="Name"></ion-input>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <ion-input
        [(ngModel)]="user.email"
        placeholder="Email"
        type="email"
      ></ion-input>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <ion-input
        [(ngModel)]="user.phone"
        placeholder="Phone"
        type="tel"
      ></ion-input>
    </ion-label>
  </ion-item>

  <ion-button expand="full" (click)="saveProfile()">Save</ion-button>
</ion-content>
