.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999; 
  }
  
  .splash.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
  }
  
  .splash img {
    width: 100px; 
    margin-bottom: 20px; 
  }
  