<ion-content>
  <img
    (click)="goToFeedback()"
    id="back"
    src="../assets/backbutton.png"
    class="back-button"
  />
  <h1>Aman Hills</h1>

  <!-- Add the airport mall image here -->
  <img src="../assets/amanhills.jpg" alt="Aman Hills" class="amanhills-image" />

  <!-- Box container -->
  <div class="box-container">
    <div class="colored-box"></div>
    <div class="colored-box"></div>
    <div class="colored-box"></div>
    <!-- Add more boxes as needed -->
  </div>
</ion-content>
