ion-content {
    --ion-background-color: #FBF3EF;
}

.textColor {
    color: black;
}

#centered-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

ion-button {
    --background: #8888E7;
    --color: white;
    margin-top: 25px;
    width: 250px;
}

#welcome {
    font-weight: bold;
    font-size: 20px;
}

#ezpark {
    font-weight: bold;
    font-size: 30px;
    padding-top: 6px;
    padding-bottom: 20px;
}

.textarea {
    color: black;
    background-color: #E0E0E0;
    width: 250px;
    height: 20px;
    margin-bottom: 15px;
}

.text {
    font-size: 12px;
}

#logintxt {
    color: #4285F4;
    text-decoration: underline;
}