<ion-content>
  <div id="centered-content">
    <ion-text class="textColor">
      <div id="welcome">Welcome to</div>
      <div id="ezpark">EZPark</div>
    </ion-text>

    <form [formGroup]="ionicForm" (ngSubmit)="signUP()">
      <div class="form-item">
        <label for="fullname" class="textColor">Full Name:</label>
        <input id="fullname" formControlName="fullname" type="text" class="input textarea">
      </div>
      <div *ngIf="errorControl['fullname'].touched && errorControl['fullname'].invalid">
        <ion-text color="danger">Full Name is required.</ion-text>
      </div>

      <div class="form-item">
        <label for="email" class="textColor">Email Address:</label>
        <input id="email" formControlName="email" type="email" class="input textarea">
      </div>
      <div *ngIf="errorControl['email'].touched && errorControl['email'].invalid">
        <ion-text color="danger">Invalid email format.</ion-text>
      </div>

      <div class="form-item">
        <label for="contact" class="textColor">Phone Number:</label>
        <input id="contact" formControlName="contact" type="tel" class="input textarea">
      </div>
      <div *ngIf="errorControl['contact'].touched && errorControl['contact'].invalid">
        <ion-text color="danger">Phone number must be at least 7 digits.</ion-text>
      </div>

      <div class="form-item">
        <label for="password" class="textColor">Password:</label>
        <input id="password" formControlName="password" type="password" class="input textarea">
      </div>
      <div *ngIf="errorControl['password'].touched && errorControl['password'].invalid">
        <ion-text color="danger">
          Password must be at least 8 characters, including an uppercase letter, a lowercase letter, a number, and a special character.
        </ion-text>
      </div>

      <ion-button expand="block" type="submit" [disabled]="!ionicForm.valid" [routerLink]="['/login']" >CREATE ACCOUNT</ion-button>
    </form>

    <ion-text class="textColor">
      <div class="text">Already have an account?</div>
      <div id="logintxt" class="text" [routerLink]="['/login']">Log In</div>
    </ion-text>
  </div>
</ion-content>
