<ion-content>
  <img (click)="goToParking()" id="back" src="../assets/backbutton.png" />
  <ion-card class="custom-card">
    <div class="grey-box">
      <img src="../assets/airportmall.jpg" alt="Image" />
      <ion-card-content>
        <ion-label class="image-label">Airport Mall</ion-label>
      </ion-card-content>
    </div>
  </ion-card>
  <div id="basement">Basement</div>
  <ion-grid class="container">
    <ion-row>
      <ion-col>
        <ion-grid class="group">
          <ion-row>
            <ion-col class="box" (click)="goToBook('A6','Basement')">A6</ion-col>
            <ion-col class="box" (click)="goToBook('A1','Basement')">A1</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook('A7','Basement')">A7</ion-col>
            <ion-col class="box" (click)="goToBook('A2','Basement')">A2</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook('A8','Basement')">A8</ion-col>
            <ion-col class="box" (click)="goToBook('A3','Basement')">A3</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook('A9','Basement')">A9</ion-col>
            <ion-col class="box" (click)="goToBook('A4','Basement')">A4</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook('A10','Basement')">A10</ion-col>
            <ion-col class="box" (click)="goToBook('A5','Basement')">A5</ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <ion-grid class="group">
          <ion-row>
            <ion-col class="box" (click)="goToBook('B1','Basement')">B1</ion-col>
            <ion-col class="box" (click)="goToBook('B6','Basement')">B6</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook('B2','Basement')">B2</ion-col>
            <ion-col class="box" (click)="goToBook('B7','Basement')">B7</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook('B3','Basement')">B3</ion-col>
            <ion-col class="box" (click)="goToBook('B8','Basement')">B8</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook('B4','Basement')">B4</ion-col>
            <ion-col class="box" (click)="goToBook('B9','Basement')">B9</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook('B5','Basement')">B5</ion-col>
            <ion-col class="box" (click)="goToBook('B10','Basement')">B10</ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-grid class="group">
          <ion-row>
            <ion-col class="box" (click)="goToBook('C6','Basement')">C6</ion-col>
            <ion-col class="box" (click)="goToBook('C1','Basement')">C1</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook('C7','Basement')">C7</ion-col>
            <ion-col class="box" (click)="goToBook('C2','Basement')">C2</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook('C8','Basement')">C8</ion-col>
            <ion-col class="box" (click)="goToBook('C3','Basement')">C3</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook('C9','Basement')">C9</ion-col>
            <ion-col class="box" (click)="goToBook('C4','Basement')">C4</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook('C10','Basement')">C10</ion-col>
            <ion-col class="box" (click)="goToBook('C5','Basement')">C5</ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <ion-grid class="group">
          <ion-row>
            <ion-col class="box" (click)="goToBook('D1','Basement')">D1</ion-col>
            <ion-col class="box" (click)="goToBook('D6','Basement')">D6</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook('D2','Basement')">D2</ion-col>
            <ion-col class="box" (click)="goToBook('D7','Basement')">D7</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook('D3','Basement')">D3</ion-col>
            <ion-col class="box" (click)="goToBook('D8','Basement')">D8</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook('D4','Basement')">D4</ion-col>
            <ion-col class="box" (click)="goToBook('D9','Basement')">D9</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook('D5','Basement')">D5</ion-col>
            <ion-col class="box" (click)="goToBook('D10','Basement')">D10</ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
