<ion-content>
  <img (click)="goToParking()" id="back" src="../assets/backbutton.png" />
  <ion-card class="custom-card">
    <div class="grey-box">
      <img src="../assets/mabohai.jpg" alt="Image" />
      <ion-card-content>
        <ion-label class="image-label">Mabohai Shopping Complex</ion-label>
      </ion-card-content>
    </div>
  </ion-card>

  <ion-grid class="container">
    <ion-row>
      <ion-col>
        <ion-grid class="group">
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook()">A7</ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook()">A9</ion-col>
            <ion-col class="box" (click)="goToBook()">A4</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box" (click)="goToBook()">A5</ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <ion-grid class="group">
          <ion-row>
            <ion-col class="box" (click)="goToBook()">B1</ion-col>
            <ion-col class="box" (click)="goToBook()">B6</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook()">B2</ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook()">B3</ion-col>
            <ion-col class="box" (click)="goToBook()">B8</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook()">B4</ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-grid class="group">
          <ion-row>
            <ion-col class="box" (click)="goToBook()">C6</ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook()">C9</ion-col>
            <ion-col class="box" (click)="goToBook()">C4</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook()">C10</ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <ion-grid class="group">
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box">D2</ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box" (click)="goToBook()">D9</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook()">D5</ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
