<ion-header>
  <ion-toolbar>
    <ion-title>Receipt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Booking Receipt</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Parking Spot Level:</strong> {{ bookingDetails.parkingLevel }}</p>
      <p><strong>Parking Space Number:</strong> {{ bookingDetails.parkingSpaceNumber }}</p>
      <p><strong>Reservation Date:</strong> {{ bookingDetails.reservationDate }}</p>
      <p><strong>Reservation Time:</strong> {{ bookingDetails.reservationTime }}</p>
      <p><strong>Duration (hours):</strong> {{ bookingDetails.duration }}</p>
      <p><strong>Car License Number:</strong> {{ bookingDetails.carLicenseNumber }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

