<ion-content>
  <div class="header-container">
    <img
      (click)="goToFeedback()"
      id="back"
      src="../assets/backbutton.png"
      class="back-button"
    />
    <h1>The Mall, Gadong</h1>
  </div>

  <!-- Add the Mall image here -->
  <img src="../assets/mall.jpg" alt="Mall" class="mall-image" />

  <!-- Note under the image -->
  <p class="note">
    Please maintain a respectful tone and use appropriate language.
  </p>

  <!-- Comment input -->
  <div class="comment-input-container">
    <ion-input
      [(ngModel)]="newCommentText"
      placeholder="Write a comment..."
      class="comment-input"
    ></ion-input>
    <ion-button (click)="postComment()">Post</ion-button>
  </div>

  <!-- Box container -->
  <div class="box-container">
    <div *ngIf="comments.length === 0" class="colored-box">No Review</div>
    <div *ngFor="let comment of comments" class="colored-box">
      <img
        [src]="comment.profilePicture"
        alt="Profile Picture"
        class="profile-picture"
      />
      <div class="comment-content">
        <div class="comment-header">
          <h2>{{ comment.username }}</h2>
          <!-- Add pinned note -->
          <span *ngIf="comment.isPinned" class="pinned-note">Pinned</span>
        </div>
        <p>{{ comment.text }}</p>
        <!-- Button container for actions -->
        <div class="button-container">
          <!-- Delete button for the comment owner -->
          <ion-button
            *ngIf="comment.username === currentUser.username"
            (click)="deleteComment(comment.id)"
            class="delete-button"
            fill="outline"
          >
            Delete
          </ion-button>
          <!-- Pin/Unpin button for admin -->
          <ion-button
            *ngIf="isAdminComment(comment)"
            (click)="togglePinComment(comment)"
            class="pin-button"
            fill="outline"
          >
            {{ comment.isPinned ? 'Unpin' : 'Pin' }}
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
