ion-page {
  background-color: #FBF3EF !important;
}

ion-content {
  --ion-background-color: #FBF3EF !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensures it takes the full height of the viewport */
}

.receipt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Centers the ion-card vertically */
}

.parking-receipt-card {
  width: 300px;
  border-radius: 10px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  background-color: #ffffff !important; /* Make ion-card background white */
  color: #000000 !important; /* Make ion-card text black */
}

.parking-receipt-card-header {
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.parking-receipt-list-item {
  --background: #ffffff !important; /* Set ion-item background to white */
  --color: #000000 !important; /* Ensure text is black */
  --ion-item-padding: 0px 10px;
  --inner-border-width: 0px; /* Remove any inner borders */
  border: none !important; /* Remove border lines */
  box-shadow: none !important; /* Remove any potential shadow */
}

.parking-receipt-list-item ion-label {
  font-weight: normal;
  color: #000000 !important; /* Ensure text is black */
}

.parking-receipt-list-item ion-icon {
  color: #000000 !important; /* Make icons black */
}

.parking-receipt-list-item ion-label:first-child {
  flex: 1; 
}

.parking-receipt-list-item ion-label:last-child {
  text-align: right; 
}

.parking-receipt-done-button {
  margin-top: 10px; 
}

.parking-receipt-card-content {
  background-color: #ffffff !important; /* Ensure ion-card-content is white */
  color: #000000 !important; /* Ensure text in ion-card-content is black */
}

ion-list {
  --ion-border-width: 0px; /* Remove border */
  background-color: #ffffff !important; /* Set background to white */
  color: #000000 !important; /* Ensure text is black */
}

