<ion-content>
  <div class="receipt-container">
    <ion-card *ngIf="parkingDetails" class="receipt-card">
      <ion-card-header class="receipt-card-header">
        <ion-card-title>{{ parkingDetails.location }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Parking Level:</strong> {{ parkingDetails.parkingLevel }}</p>
        <p><strong>Parking Space Number:</strong> {{ parkingDetails.parkingSpaceNumber }}</p>
        <p><strong>Reservation Date:</strong> {{ parkingDetails.reservationDate }}</p>
        <p><strong>Reservation Time:</strong> {{ parkingDetails.reservationTime }}</p>
        <p><strong>Car License Number:</strong> {{ parkingDetails.carLicenseNumber }}</p>
        <p><strong>Duration:</strong> {{ parkingDetails.duration }} hours</p>
        <p><strong>Total Amount Paid:</strong> {{ parkingDetails.totalAmount | currency:'BND':'symbol':'1.2-2' }}</p>
      </ion-card-content>
      <ion-button (click)="cancelBooking()">Cancel Booking</ion-button>
    </ion-card>
  </div>
</ion-content>