<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <img (click)="goToHome()" id="back" src="../assets/backbutton.png" />
      </ion-buttons>
      <div class="custom-title">About Us</div>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>EZPark</ion-card-title>
    </ion-card-header>

    <ion-card-content class="about-us-content">
      <p>
        EZPark transforms urban parking with an advanced IoT-powered app,
        offering real-time availability in busy areas like Times Square. Users
        can easily find and reserve parking spaces with cashless transactions.
        Committed to sustainability and data security, EZPark collaborates with
        parking operators and urban planners to improve services and educate
        users, simplifying parking and enhancing urban traffic flow.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
