<ion-content>
  <img (click)="goToParking()" id="back" src="../assets/backbutton.png" />
  <ion-card class="custom-card">
    <div class="grey-box">
      <img src="../assets/mall.jpg" alt="Image" />
      <ion-card-content>
        <ion-label class="image-label">The Mall, Gadong</ion-label>
      </ion-card-content>
    </div>
  </ion-card>
  <div id="floors">
    <button class="floor">Upper Basement</button>
    <button (click)="goToMall2()" class="floor">Lower Basement</button>
  </div>
  <ion-grid class="container">
    <ion-row>
      <ion-col>
        <ion-grid class="group">
          <ion-row>
            <ion-col class="box" (click)="goToBook('A6','Upper Basement')" *ngIf="!isBooked('A6') && bookedSpots.length > 0">A6</ion-col>
            <ion-col class="box" *ngIf="isBooked('A6')"><img src="../assets/sports-car.png"></ion-col>
  
            <ion-col class="box" (click)="goToBook('A1','Upper Basement')" *ngIf="!isBooked('A1') && bookedSpots.length > 0">A1</ion-col>
            <ion-col class="box" *ngIf="isBooked('A1')"><img src="../assets/sports-car.png"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook('A7','Upper Basement')" *ngIf="!isBooked('A7') && bookedSpots.length > 0">A7</ion-col>
            <ion-col class="box" *ngIf="isBooked('A7')"><img src="../assets/sports-car.png"></ion-col>
  
            <ion-col class="box" (click)="goToBook('A2','Upper Basement')" *ngIf="!isBooked('A2') && bookedSpots.length > 0">A2</ion-col>
            <ion-col class="box" *ngIf="isBooked('A2')"><img src="../assets/sports-car.png"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <ion-grid class="group">
          <ion-row>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-grid class="group">
          <ion-row>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <ion-grid class="group">
          <ion-row>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
            <ion-col class="box"><img src="../assets/sports-car.png"></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
