<ion-content>
  <img (click)="goToParking()" id="back" src="../assets/backbutton.png" />
  <ion-card class="custom-card">
    <div class="grey-box">
      <img src="../assets/mall.jpg" alt="Image" />
      <ion-card-content>
        <ion-label class="image-label">The Mall, Gadong</ion-label>
      </ion-card-content>
    </div>
  </ion-card>
  <div id="floors">
    <button class="floor">Upper Basement</button>
    <button (click)="goToMall2()" class="floor">Lower Basement</button>
  </div>
  <ion-grid class="container">
    <ion-row>
      <ion-col>
        <ion-grid class="group">
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook()">A9</ion-col>
            <ion-col class="box" (click)="goToBook()">A4</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box" (click)="goToBook()">A5</ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <ion-grid class="group">
          <ion-row>
            <ion-col class="box" (click)="goToBook()">B1</ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook()">B2</ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook()">B4</ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-grid class="group">
          <ion-row>
            <ion-col class="box" (click)="goToBook()">C6</ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook()">C8</ion-col>
            <ion-col class="box" (click)="goToBook()">C3</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box" (click)="goToBook()">C4</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <ion-grid class="group">
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook()">D2</ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook()">D3</ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box" (click)="goToBook()">D10</ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
