<ion-content>
  <img
    (click)="goToHome()"
    id="back"
    src="../assets/backbutton.png"
    class="back-button"
  />
  <h1>Airport Mall</h1>

  <!-- Add the airport mall image here -->
  <img
    src="../assets/airportmall.jpg"
    alt="Airport Mall"
    class="airportmall-image"
  />

  <!-- Box container -->
  <div class="box-container">
    <div class="colored-box"></div>
    <div class="colored-box"></div>
    <div class="colored-box"></div>
    <!-- Add more boxes as needed -->
  </div>
</ion-content>
