<ion-content>
  <div class="header-container">
    <img
      (click)="goToHome()"
      id="back"
      src="../assets/backbutton.png"
      class="back-button"
    />
    <h1>Find Parking</h1>
  </div>

  <div class="cards-container">
    <ion-card>
      <img (click)="goToMall()" src="../assets/Themall.jpg" />
      <ion-card-content>The Mall, Gadong</ion-card-content>
    </ion-card>

    <ion-card>
      <img (click)="goToTimesSquare()" src="../assets/Timessquare.jpg" />
      <ion-card-content>Times Square</ion-card-content>
    </ion-card>

    <ion-card>
      <img (click)="goToAirportMall()" src="../assets/Theairportmall.jpg" />
      <ion-card-content>Airport Mall</ion-card-content>
    </ion-card>

    <!-- <ion-card>
      <img (click)="goToYayasan()" src="../assets/Yayasanmall.jpg" />
      <ion-card-content>Yayasan Complex</ion-card-content>
    </ion-card>

    <ion-card>
      <img (click)="goToMabohai()" src="../assets/mabohai.jpg" />
      <ion-card-content>Mabohai Shopping Complex</ion-card-content>
    </ion-card>

    <ion-card>
      <img (click)="goToAmanHills()" src="../assets/amanhills.jpg" />
      <ion-card-content>Aman Hills Brunei</ion-card-content>
    </ion-card> -->
  </div>
</ion-content>
