<ion-content
  class="ion-padding flex-container"
  style="background-color: #fbf3ef"
>
  <div id="top">
    <ion-header id="header" class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="start">
          <img (click)="goToHome()" id="back" src="../assets/backbutton.png" />
        </ion-buttons>
        <ion-title>Profile</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card-header>
      <ion-avatar class="profile-avatar">
        <img [src]="currentUser.profilePicture" alt="Profile picture" />
      </ion-avatar>
      <div class="title-container">
        <ion-card-title>{{ currentUser.name }}</ion-card-title>
        <ion-card-subtitle>{{ currentUser.email }}</ion-card-subtitle>
        <!-- <ion-card-subtitle>{{ currentUser.phoneNumber }}</ion-card-subtitle> -->
      </div>
    </ion-card-header>
  </div>

  <div class="options-container">
    <span class="custom-label span-color" (click)="profileEdit()"
      >Edit Profile</span
    >
    <span class="custom-label span-color" (click)="parkingHistory()"
      >Parking History</span
    >
    <span class="custom-label span-color" (click)="feedback()">Feedback</span>
    <span class="custom-label logout" (click)="logout()">Logout</span>
  </div>

  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <p class="ion-text-center span-color">Copyright EZPark</p>
    </ion-toolbar>
  </ion-footer>
</ion-content>
