.profile-avatar {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

ion-card-title,
ion-card-subtitle {
  text-align: center;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --min-height: 44px;
  --border-color: transparent;
}

ion-item ion-icon {
  margin-right: 10px;
}

#back{
  width: 24px;
  height: 24px;
  margin-top: 20px;
}

ion-header ion-toolbar {
  --background: #d9d9d9;
}

ion-title{
  font-size: 30px;
  font-weight: bold;
}

ion-card{
  background-color: #d9d9d9;
}

#top{
  background-color:#d9d9d9;
}