<ion-content>
  <img (click)="goBack()" id="back" src="../assets/backbutton.png" />

  <ion-card class="custom-card">
    <div class="grey-box">
      <img src="../assets/mall.jpg" alt="Image" />
      <ion-card-content>
        <ion-label class="image-label">The Mall, Gadong</ion-label>
      </ion-card-content>
    </div>
  </ion-card>
  <div id="floors">
    <button (click)="goToMall()" class="floor">Upper Basement</button>
    <button class="floor">Lower Basement</button>
  </div>
  <ion-grid class="container">
    <ion-row>
      <ion-col>
        <ion-grid class="group">
          <ion-row>
            <ion-col class="box" (click)="goToBook('E6','Lower Basement')"
              >E6</ion-col
            >
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook('E7','Lower Basement')"
              >E7</ion-col
            >
            <ion-col class="box" (click)="goToBook('E2','Lower Basement')"
              >E2</ion-col
            >
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook('E9','Lower Basement')"
              >E9</ion-col
            >
            <ion-col class="box" (click)="goToBook('E4','Lower Basement')"
              >E4</ion-col
            >
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box" (click)="goToBook('E5','Lower Basement')"
              >E5</ion-col
            >
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <ion-grid class="group">
          <ion-row>
            <ion-col class="box" (click)="goToBook('F1','Lower Basement')"
              >F1</ion-col
            >
            <ion-col class="box" (click)="goToBook('F6','Lower Basement')"
              >F6</ion-col
            >
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook('F2','Lower Basement')"
              >F2</ion-col
            >
            <ion-col class="box" (click)="goToBook('F7','Lower Basement')"
              >F7</ion-col
            >
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook('F3','Lower Basement')"
              >F3</ion-col
            >
            <ion-col class="box" (click)="goToBook('F8','Lower Basement')"
              >F8</ion-col
            >
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-grid class="group">
          <ion-row>
            <ion-col class="box" (click)="goToBook('G6','Lower Basement')"
              >G6</ion-col
            >
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook('G2','Lower Basement')"
              >G2</ion-col
            >
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook('G8','Lower Basement')"
              >G8</ion-col
            >
            <ion-col class="box" (click)="goToBook('G3','Lower Basement')"
              >G3</ion-col
            >
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box" (click)="goToBook('G4','Lower Basement')"
              >G4</ion-col
            >
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box" (click)="goToBook('G9','Lower Basement')"
              >G9</ion-col
            >
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <ion-grid class="group">
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
