<ion-content>
  <img (click)="goToParking()" id="back" src="../assets/backbutton.png" />
  <ion-card class="custom-card">
    <div class="grey-box">
      <img src="../assets/amanhills.jpg" alt="Image" />
      <ion-card-content>
        <ion-label class="image-label">Aman Hills Brunei</ion-label>
      </ion-card-content>
    </div>
  </ion-card>
  <div id="basement">Basement</div>
  <ion-grid class="container">
    <ion-row>
      <ion-col>
        <ion-grid class="group">
          <ion-row>
            <ion-col class="box" (click)="goToBook()">A6</ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook()">A9</ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box" (click)="goToBook()">A5</ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <ion-grid class="group">
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box" (click)="goToBook()">B6</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box" (click)="goToBook()">B7</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box" (click)="goToBook()">B8</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook()">B4</ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-grid class="group">
          <ion-row>
            <ion-col class="box" (click)="goToBook()">C6</ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook()">C7</ion-col>
            <ion-col class="box" (click)="goToBook()">C2</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook()">C9</ion-col>
            <ion-col class="box" (click)="goToBook()">C4</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <ion-grid class="group">
          <ion-row>
            <ion-col class="box" (click)="goToBook()">D1</ion-col>
            <ion-col class="box" (click)="goToBook()">D6</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook()">D2</ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook()">D3</ion-col>
            <ion-col class="box"
              ><img src="../assets/sports-car.png"
            /></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook()">D4</ion-col>
            <ion-col class="box" (click)="goToBook()">D9</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box" (click)="goToBook()">D5</ion-col>
            <ion-col class="box" (click)="goToBook()">D10</ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
