<ion-content>
  <img
    (click)="goToHome()"
    id="back"
    src="../assets/backbutton.png"
    class="back-button"
  />
  <h1>Ratings & Reviews :</h1>

  <!-- Add ion-cards below -->
  <div class="cards-container">
    <ion-card>
      <img src="../assets/mall_gadong.jpg" />
      <ion-card-content>The Mall, Gadong</ion-card-content>
    </ion-card>

    <ion-card>
      <img src="../assets/times_square.jpg" />
      <ion-card-content>Times Square</ion-card-content>
    </ion-card>

    <ion-card>
      <img src="../assets/airport_mall.jpg" />
      <ion-card-content>Airport Mall</ion-card-content>
    </ion-card>

    <ion-card>
      <img src="../assets/yayasan_complex.jpg" />
      <ion-card-content>Yayasan Complex</ion-card-content>
    </ion-card>

    <ion-card>
      <img src="../assets/mabohai_shopping_complex.jpg" />
      <ion-card-content>Mabohai Shopping Complex</ion-card-content>
    </ion-card>

    <ion-card>
      <img src="../assets/aman_hills_brunei.jpg" />
      <ion-card-content>Aman Hills Brunei</ion-card-content>
    </ion-card>
  </div>
</ion-content>
