<ion-content>
  <img
    (click)="goToHome()"
    id="back"
    src="../assets/backbutton.png"
    class="back-button"
  />
  <h1>Times Square</h1>
  <!-- Add the airport mall image here -->
  <img
    src="../assets/Timessquare.jpg"
    alt="times square"
    class="timessquare-image"
  />
  <!-- Box container -->
  <div class="box-container">
    <div class="colored-box"></div>
    <div class="colored-box"></div>
    <div class="colored-box"></div>
    <!-- Add more boxes as needed -->
  </div>
</ion-content>
