ion-content {
    --ion-background-color: #FBF3EF;
    display: flex; /* add this to make ion-content a flex container */
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    height: 100%; /* make sure ion-content takes up the full height */
  }
  
  h1 {
    color: #000;
    font-size: 24px;
    display: block;
    text-align: center;
    margin-top: -20px;
  }
  
  .back-button {
    width: 24px;
    height: 24px;
    margin-top: 20px;
  }

  .timessquare-image {
    width: 70%; /* Reduce the width to make the image smaller */
    height: auto; /* Maintain the aspect ratio */
    margin-top: 10px; /* Spacing from the title */
    border-radius: 10px; /* Optional: rounded corners */
    display: block; /* Ensure the image is treated as a block element */
    margin-left: auto; /* Center the image horizontally */
    margin-right: auto; /* Center the image horizontally */
  }